<!DOCTYPE html>
<html>
<head>
    <title>Time Person Of The Year</title>
    <link rel="stylesheet" href="~/css/reset.css"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <img src="~/assets/timeLogo.png" alt="Time Logo"/>
    <h1>Person of the Year</h1>
    <p>Choose two years to filter the list of Time Person of the Year:</p>
    <form method="post">
        <label name="StartYear">Start Year</label>
        <input type="text" name="StartYear" placeholder="Starting Year" />
        
        <label name="EndYear">End Year</label>
        <input type="text" name="EndYear" placeholder="Ending Year" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>